<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cloud File Storage</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Cloud File Storage System</h1>

        <p>
            Store, manage and access your files securely in the cloud.
        </p>

        <div>
            <a href="/login" class="button">Login</a>
        </div>

    </div>

</body>
</html>s